<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>Productos</title>
</head>
<body>      

    <%- include("./partials/header") %> 

    <div class="container justify-content-center row">
        <% newPantalones.forEach(pantalon => { %>
            <div class="col-10 my-4">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1">
                        <img class="img-fluid img-responsive rounded" src= <%= pantalon.url %>/>
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5><%= pantalon.titulo %></h5>
                        <div class="mt-1 mb-1 spec-1"><span>100% algodon -</span><span> Light weight  </span></div>
                        <p class="text-justify text-truncate para mb-0">Color: <%= pantalon.color %><br/>
                        <p class="text-justify text-truncate para mb-0">ID: <%= pantalon.id %> <br/><br/>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">$<%= pantalon.precio %></h4>
                        </div>
                        <h6 class="text-success">Envio Gratis</h6>
                    </div>
                </div>
            </div>
       <% }); %> 
    </div>
</body>
</html>